<!DOCTYPE html>
<html>
  <head>
    <title>MeetingsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <%= link_to 'Appointment', root_path, class: 'navbar-brand' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
             <%= link_to 'Book appointment', root_path, class: 'nav-link' %></a>
          </li>
<!--          <%# Calendar.all.each do |calendar| %>
            <li class="nav-item">
              <%#= link_to calendar.name, calendar_path(id: calendar.id), class: 'nav-link' %></a>
            </li>
          <%# end %>
-->
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
